Repository shun-shobon/nextjs-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{js,jsx,ts,tsx,css,json,yml,md}": "prettier --write"
}

docs: Update README
  README.md
Due: prettier --write

ci: Fix name
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

build: Upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: Change package manager
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .gitignore
  .husky/pre-commit
  .nvmrc
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

chore: Upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: Configure Renovate
  renovate.json
Due: prettier --write

chore: Add missing dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: Change workflow strategy
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

chore: Fix packages
  jest.setup.ts
  package.json
Due: eslint --fix, prettier --write

chore: Add VSCode setting
  .vscode/settings.json
Due: prettier --write

chore: Fix node/pnpm version
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: Remove tools
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .storybook/main.js
  .storybook/preview.js
  jest.config.js
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  postcss.config.js
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: Add eslint setting
  .eslintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  prettier.config.js
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

feat: Use app router instead of pages router
  next.config.js
  src/app/layout.tsx
  src/app/page.tsx
  src/pages/_app.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

ci: Delete workflow
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

feat: Add vanilla-extract
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/page.css.ts
  src/app/page.tsx
  src/components/Button/Button.css.ts
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: Add import alias
  package.json
Due: prettier --write

chore: Enable webpack build worker
  next.config.js
Due: eslint --fix, prettier --write

feat: Add reset css
  src/app/layout.tsx
  src/styles/layers.css.ts
  src/styles/reset.css.ts
Due: eslint --fix, prettier --write

style: Fix style
  package.json
  prettier.config.js
Due: eslint --fix, prettier --write

chore: Add storybook
  .storybook/main.ts
  .storybook/preview.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/components/Button/Button.stories.tsx
  src/styles/global.css.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

chore: Add build storybook command
  .gitignore
  package.json
Due: prettier --write

chore: Add import alias to tsconfig.json
  tsconfig.json
Due: prettier --write

chore: Maintain lockfile
  pnpm-lock.yaml
Due: none

docs: Add LICENSE
  LICENSE
Due: none

docs: Update description
  README.md
  package.json
Due: prettier --write

feat: Add storybook test-runner
  .storybook/test-runner.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: Add forward-ref
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/utils/forward-ref.ts
Due: eslint --fix, prettier --write

chore: Use shun-shobon's shareable config
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/test-runner.ts
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.js
  next.config.js
  package.json
  pnpm-lock.yaml
  prettier.config.js
  renovate.json
  src/app/layout.tsx
  src/app/page.css.ts
  src/app/page.tsx
  src/components/Button/Button.css.ts
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/utils/forward-ref.ts
  src/styles/reset.css.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

chore: Remove unnecessary package
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: Remove unnecessary arg
  eslint.config.js
Due: eslint --fix, prettier --write

feat: Change import alias
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Button.css.ts
  src/components/Button.stories.tsx
  src/components/Button.tsx
  src/libs/forward-ref.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: Add bundle analyzer
  next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: Fix stroybook
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/test-runner.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: Use Next.js integration instead of Vite to Storybook
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

build: Remove unnecessary options for Next.js
  next.config.js
Due: eslint --fix, prettier --write

ci: Split checking workflows
  .github/workflows/check.yml
  .github/workflows/lint.yml
  package.json
Due: prettier --write
