Repository shun-shobon/nextjs-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{js,jsx,ts,tsx,css,json,yml,md}": "prettier --write"
}

chore: Maintain deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: Add missing package
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: Setup Storybook testing workflow
  .github/workflows/check.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: Fix Storybook testing
  .github/workflows/check.yml
Due: prettier --write

test: Setup E2E test
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/e2e/index.test.ts
Due: eslint --fix, prettier --write

ci: Add E2E testing workflow
  .github/workflows/check.yml
  package.json
  playwright.config.ts
Due: eslint --fix, prettier --write

fix: Add title
  src/app/layout.tsx
Due: eslint --fix, prettier --write

fix: Fix by ESLint
  eslint.config.js
  playwright.config.ts
Due: eslint --fix, prettier --write

style: Fix by prettier
  tsconfig.json
Due: prettier --write

feat: Replace vanilla-extract to Tailwind CSS
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/app/global.css
  src/app/layout.tsx
  src/app/page.css.ts
  src/app/page.tsx
  src/components/Button.css.ts
  src/components/Button.tsx
  src/styles/global.css.ts
  src/styles/layers.css.ts
  src/styles/reset.css.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: Upgrade eslint, prettier configs
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: Format
  postcss.config.js
  src/app/page.tsx
  src/components/Button.tsx
Due: eslint --fix, prettier --write

feat: Configure storybook
  .storybook/main.ts
  .storybook/preview.ts
  next.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  public/.gitkeep
Due: eslint --fix, prettier --write

fix: Fix button bg-color
  src/components/Button.tsx
Due: eslint --fix, prettier --write

chore: Fix deps version
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: Update README
  README.md
Due: prettier --write

chore: Remove style-loader
  package.json
Due: prettier --write

chore: Update lockfile
  pnpm-lock.yaml
Due: none
